.main-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;


  .row-container {
    flex-direction: row;
    justify-items: center;
  }

  .coin-container {
    flex-direction: column;
  }

  .drink-description-container {
    flex-direction: column;
  }

  .coin-form {
    margin-right: 15px;
    width: 75px;
  }

  .submit-button {
    margin-top: 25px;
    height: 40px;
    width: 100px;
  }

  .order-form {
    width: 35px;
    margin-left: 10px;
  }
}
